<div style="background: #00d2ff; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00d2ff, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00d2ff, #3a7bd5);">
<h2>hey</h2>

</div>
