<div class="row" style="margin: -6%; background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">

<div class="row">
<div class="col-md-10 col-md-offset-1" style="margin: 10%; margin-left: 8%; padding-top: 2%; padding-bottom: 2%; padding-left: 4%; ; padding-right: 4%; background: white; border-radius: 10px">
<br>

<div class="col-md-7">
<div class="col-md-8 col-md-offset-2" style="margin-bottom: 0%">
<%= image_tag ("uplogo.png"),  class: "img-responsive" %>
</div>

<div class="col-md-12" style="">
<p style="font-family: arial; font-size: 20px">List Available Rentals On Your Current Website.</p>
</div>
<br>
<div class="col-md-12 col-md-offset-0">
<br>
<br>
<%= image_tag ("CP.png"),  class: "img-responsive" %>
</div>
<div class="col-md-12" style="height: 20px">
</div>
</div>
<div class="col-md-5">
<%= image_tag ("shot.png"),  class: "img-responsive" %>

</div>

<div class="col-md-12 card" style="margin-top: 4%; background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #232526, #414345);">
<h5 style="color: white; margin: 1%; min-height: 40px">
      
        <%= link_to "Sign up", new_user_registration_path, {:style=>'color: white', :class => "css_class"}  %> 
       

      </h5>
    
</div>

<br>


</div>

</div>
</div>
 
