
<center>
<br>

<div class="col-md-4 col-md-offset-4">
<%= image_tag ("uplogo.png"),  class: "img-responsive" %>
</div>
<br>
<div class="col-md-8 col-md-offset-2">
<h4 style="font-weight: 300; color: blackish">A simple way to add available rentals to your website.</h4>
</div>
<br>
<div class="col-md-10 col-md-offset-1">
<%= image_tag ("CP.png"),  class: "img-responsive" %>
<br><br>
</div>

<div class="col-md-8 col-md-offset-2" style="padding: 5px; background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #232526, #414345);">
<h5 style="height: ">
<%= link_to "Sign up", new_user_registration_path, {:style=>'color: white; padding: 15px', :class => "css_class"}  %>
</h5>

</div>
</div>

</center>




 
