
<div class="row" style="margin-top: 10%">
<br>
<div class="col-md-4 col-md-offset-1">
<%= image_tag (""),  class: "img-responsive" %>
</div>
<br>
<div class="col-md-8">
<h5 style=" color: white; font-weight: 300; margin-top: 2%"> List Available Rentals On Your Current Website.</h4>
</div>


<div class="col-md-12">


<%= image_tag (""),  class: "img-responsive" %>
<br>

</div>
<div class="col-md-12" style="padding: 5px; background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #232526, #414345);">
<h5 style="height: ">
<%= link_to "Sign up", new_user_registration_path, {:style=>'color: white; padding: 15px', :class => "css_class"}  %>
</h5>

</div>
<br><br>
<div class="row col-md-12" style="margin-top: 3%">
<div class="col-md-12" style="">


<%= image_tag ("CP.png"),  class: "img-responsive" %>
<br><br>
<br>

</div>


<div class="col-md-12" style="">
<h4>



</div>




 
